/* Stylez */
body {font-family: Franklin Gothic Book, Source Sans Pro, Helvetica Neue, sans-serif; margin: 0 auto; background: #CCF2F4; line-height: 1.8em; padding: 12px; box-sizing: border-box; color: #333;}
body, html {height: 100%;}

.wrapper {box-sizing: border-box; background: #F4F9F9; box-shadow: 0 0 5px #888; box-shadow: 0 0 5px #888; height: 100%; overflow: auto; }


a {color: #777; text-decoration: none; border-bottom: 1px solid #CCFF26;}
a:hover {border-bottom: 1px solid #CCFF26; color: #222}
p {font-weight: 200; font-size: 60px; line-height: 1;}

.name {font-family: Playfair Display; font-size: 80px; font-weight: 900; padding-bottom: 20px; color: #0F52BA}

.container {margin: 0 auto; width: 800px; height: 600px; padding: 80px 12px; overflow: auto;}

.meta {text-transform: uppercase; font-family: Courier New, Quicksand, "Helvetica Neue", "Arial", sans-serif; font-size: 11px; letter-spacing: .15em;}
.meta a:hover {border-bottom: 1px solid #CCFF26; color: #333;}

.inline-list {list-style: none; margin: 0; padding: 0; font-size: 20px;}
.inline-list li {display: inline-block;}

footer .inline-list li {padding-right: 40px;}
footer {margin: 0 auto; position: absolute; bottom: 0px; padding: 40px 0; width: 600px;}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}




/* CSS */
.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 14px;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}